<h1>Adotar <%= @animal.name %></h1>

<%= form_with(model: @adoption, local: true) do |form| %>
  <%= form.hidden_field :animal_id, value: @animal.id %>

  <div>
    <%= form.submit "Confirmar Adoção" %>
  </div>
<% end %>

<%= link_to 'Cancelar', animals_path %>
