<div class="container">



  <%= simple_form_for (@animal) do |f| %>
  <% if @animal.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h4>
    <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


    <%= f.input :name, label: "Name" %>
    <%= f.input :breed, label: "Breed" %>
    <%= f.input :size, label: "Size", collection: ["Small", "Medium", "Large"], prompt: "Select the size" %>
    <%= f.input :gender, label: "Gender", collection: ["Male", "Female"], prompt: "Select the gender" %>
    <%= f.input :age, label: "Age", as: :integer, input_html: { min: 0, step: 1 }, hint: "Age in years" %>
    <%= f.input :location, label: "Location" %>

    <div class="input-group">
      <%= f.input :castrated, label: "Castrated", as: :boolean %>
      <%= f.input :vaccinated, label: "Vaccinated", as: :boolean %>
      <%= f.input :dewormed, label: "Dewormed", as: :boolean %>
    </div>
    <%= f.input :special_needed, label: "Special Needs", hint: "Describe any special need" %>
    <div class="form-group">
      <%= f.label :photos, "Photos" %>
      <%= f.file_field :photos, multiple: true, direct_upload: true, class: 'form-control' %>
    </div>
    <%= f.submit "Add new Animal", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', animals_path, class: 'btn btn-secondary' %>
</div>
