<div class="container">
  <%= simple_form_for (@animal) do |f| %>
    <%= f.input :name, label: "Name" %>
    <%= f.input :breed, label: "Breed" %>
    <%= f.input :size, label: "Size", collection: ["Small", "Medium", "Large"], prompt: "Select the size" %>
    <%= f.input :gender, label: "Gender", collection: ["Male", "Female"], prompt: "Select the gender" %>
    <%= f.input :age, label: "Age", as: :integer, input_html: { min: 0, step: 1 }, hint: "Age in years" %>
    <%= f.input :location, label: "Location" %>
    <div class="input-group">
      <%= f.input :castrated, label: "Castrated", as: :boolean %>
      <%= f.input :vaccinated, label: "Vaccinated", as: :boolean %>
      <%= f.input :dewormed, label: "Dewormed", as: :boolean %>
    </div>
    <%= f.input :special_needed, label: "Special Needs", hint: "Describe any special need" %>
    <%= f.input :photo, label: "Photo", as: :file %>
    <%= f.submit "Add new Animal", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', animals_path, class: 'btn btn-secondary' %>
</div>
