<div class="card-category">
  <div class="container mt-5">
    <h2>Adopt a Pet. Unconditional love!</h2>
    <p>Here is a list of all the animals available for adoption</p>
  </div>
</div>

<div class="row">
  <div class="container col-12 col-md-3 pt-5 ">
    <h1 class="ps-3">Filter Animals</h1>

    <%= form_with url: animals_path, method: :get, local: true, scope: :animal, class: "row ps-3" do |form| %>
      <div class="col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name, value: params.dig(:animal, :name), class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :breed %>
        <%= form.text_field :breed, value: params.dig(:animal, :breed), class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :size %>
        <%= form.select :size, options_for_select([['Small', 'small'], ['Medium', 'medium'], ['Large', 'large']], params.dig(:animal, :size)), { include_blank: 'All Sizes' }, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :gender %>
        <%= form.select :gender, options_for_select([['Male', 'male'], ['Female', 'female']], params.dig(:animal, :gender)), { include_blank: 'All Genders' }, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :age %>
        <%= form.number_field :age, value: params.dig(:animal, :age), class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :castrated %>
        <%= form.select :castrated, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :castrated)), { include_blank: 'Both' }, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :vaccinated %>
        <%= form.select :vaccinated, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :vaccinated)), { include_blank: 'Both' }, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :dewormed %>
        <%= form.select :dewormed, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :dewormed)), { include_blank: 'Both' }, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :special_needed %>
        <%= form.text_field :special_needed, value: params.dig(:animal, :special_needed), class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= form.label :location %>
        <%= form.text_field :location, value: params.dig(:animal, :location), class: 'form-control' %>
      </div>

      <div class="col-md-12 mt-3">
        <%= form.submit "Search", class: "button button pulse" %>
      </div>
    <% end %>

  </div>

  <section class="wrapper col-12 col-md-9 pt-5">
    <div class="container">
      <div class="row">
        <% if @animals.present? %>
          <% @animals.each do |animal| %>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <%= link_to animal_path(animal), class: "content_link text-decoration-none" do %>


                <div class="card text-dark card-has-bg click-col" style="background-image: url(<%= animal.photo.present? ? url_for(animal.photo) : 'fallback-image-url.jpg' %>);">
                  <img class="card-img d-none" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">

                  <div class="card-img-overlay d-flex flex-column justify-content-between">
                    <div class="card-body">
                      <!-- You can add more details here if needed -->
                    </div>
                    <div class="card-footer">
                      <div class="media">
                        <div class="media-body text-center">
                          <h3 class="my-0 text-light d-block"><%= animal.name %></h3>
                          <medium class="text-light"><%= animal.gender %></medium>
                        </div>
                      </div>
                      <%= link_to "Know More", animal_path(animal), class: 'know_more_button mt-2 text-center button pulse' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h1>No animals available yet</h1>
        <% end %>
      </div>
    </div>
  </section>
</div>

<%= link_to "Add New Animal", new_animal_path, class: 'know_more_button mt-2 text-center button pulse' %>
