<div class="card-category padding_navbar">
  <div class="container">
    <h1 class="h1-adopt-a-pet">Adopt a Pet. Unconditional love!</h1>
    <p class="p-adopt-a-pet">Here is a list of all the animals available for adoption:</p>
  </div>

  <div class="row justify-content-center fiter-and-cards-index">
    <div class="col-10 col-md-3 pt-4 filter-index">
      <h1>Find animals by:</h1>

      <%= form_with url: animals_path, method: :get, local: true, scope: :animal, class: "row" do |form| %>
        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :name %>
          <%= form.text_field :name, value: params.dig(:animal, :name), class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :breed %>
          <%= form.text_field :breed, value: params.dig(:animal, :breed), class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :size %>
          <%= form.select :size, options_for_select([['Small', 'small'], ['Medium', 'medium'], ['Large', 'large']], params.dig(:animal, :size)), { include_blank: 'All Sizes' }, class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :gender %>
          <%= form.select :gender, options_for_select([['Male', 'male'], ['Female', 'female']], params.dig(:animal, :gender)), { include_blank: 'All Genders' }, class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :age %>
          <%= form.number_field :age, value: params.dig(:animal, :age), class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :castrated %>
          <%= form.select :castrated, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :castrated)), { include_blank: 'Both' }, class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :vaccinated %>
          <%= form.select :vaccinated, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :vaccinated)), { include_blank: 'Both' }, class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :dewormed %>
          <%= form.select :dewormed, options_for_select([['Yes', true], ['No', false]], params.dig(:animal, :dewormed)), { include_blank: 'Both' }, class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :special_needed %>
          <%= form.text_field :special_needed, value: params.dig(:animal, :special_needed), class: 'form-control input-index' %>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 div-form-input-index">
          <%= form.label :location %>
          <%= form.text_field :location, value: params.dig(:animal, :location), class: 'form-control input-index' %>
        </div>

        <div class="col-md-12 mt-3">
          <%= form.submit "Search", class: "button pulse mb-3" %>
        </div>
      <% end %>

    </div>

    <div class="col-12 col-md-9 filter-cards">
      <div class="row">
        <% if @animals.present? %>
          <% @animals.each do |animal| %>

            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <%= link_to animal_path(animal), class: "content_link text-decoration-none" do %>
                <div class="card text-dark card-has-bg click-col">
                  <% if animal.photos.attached? %>
                    <%= cl_image_tag(animal.photos.first.key, crop: "fill", gravity: "center", aspect_ratio: "9:16", class: "card_img_index") %>
                  <% else %>
                    <div class="d-flex justify-content-center align-items-center" style="height: 450px;">
                      <%= image_tag('paws-no-photo.jpg', style: "min-heigth: 360px;", class: "d-block") %>
                    </div>
                  <% end %>


                  <div class="card-img-overlay d-flex flex-column justify-content-between">

                    <div class="card-footer">

                      <div class="media-body text-center">
                        <h3 class="my-0 text-light d-block text-shadow"><%= animal.name %></h3>
                        <medium class="text-light text-shadow"><%= animal.gender %></medium>
                      </div>

                      <%= link_to "Know More", animal_path(animal), class: 'know_more_button mt-2 text-center button pulse' %>
                    </div>

                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h1>No animals available yet</h1>
        <% end %>
          </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center mt-3 mb-3">
    <p class="mb-0">Do you need to register an animal for adoption?</p>
    <%= link_to "Click here!", new_animal_path, class: 'button pulse click-here-button' %>
  </div>
</div>
