<div class="container-show mt-5 custom-padding-top container-fluid">

  <div class="row">
    <div class="col-12 col-md-6">
      <% if @animal.photo.attached? %>
        <!--<%= image_tag @animal.photo, class: "img-fluid", alt: @animal.name %>-->
        <!--<%= image_tag @animal.photo, class: "img-fluid", alt: @animal.name %>-->
        <%= cl_image_tag @animal.photo.key, class: "img-fluid", alt: @animal.name, crop: :fill %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid" alt="Default Image">
      <% end %>






    <div class="carousel-show-animals" data-controller="show-carousel m-4">

      <div class="carousel-container">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" data-show-carousel-target="inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://res.cloudinary.com/datqpbimu/image/upload/v1724789047/Frederico_czjlos.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="https://res.cloudinary.com/datqpbimu/image/upload/v1724789081/Penelope_ormn2y.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="https://res.cloudinary.com/datqpbimu/image/upload/v1724738560/tuti_r578mb.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="highlighted-image" >
          <img src="img" alt="Highlighted" class="img-fluid" data-show-carousel-target="highlightedImage">
        </div>
      </div>

    </div>

  </div>


    <div class="col-12 col-md-6 ">
      <h1><strong>Pet's profile</strong></h1>
      <h2>Name: <%= @animal.name %></h2>
      <p>Breed: <%= @animal.breed %></p>
      <p>Size: <%= @animal.size %></p>
      <p>Gender: <%= @animal.gender %></p>
      <p>Age: <%= @animal.age %></p>
      <p>Castrated: <%= @animal.castrated %></p>
      <p>Dewormed: <%= @animal.dewormed %></p>
      <p>Vaccinated: <%= @animal.vaccinated %></p>
      <p>Special Needed: <%= @animal.special_needed %></p>
      <p>Location:<%= @animal.location %></p>
      <p><strong>Created by:</strong> <%= @animal.user.email %></p>

        <div class="text-center mt-4">
          <div class="d-inline-flex justify-content-center">
            <% if policy(@animal).destroy? %>
             <%= link_to "Delete", animal_path(@animal), class: "btn button pulse know_more_button mx-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <% end %>
            <% if policy(@animal).edit? %>
              <%= link_to 'Edit', edit_animal_path(@animal), class: "btn button pulse know_more_button mx-2" %>
            <% end %>
          </div>
        </div>

        <div class="text-center mt-4 d-flex flex-column align-items-center">
          <%= link_to 'Back', animals_path, class: "btn button pulse know_more_button mb-3" %>
          <p class="text-center"><strong>Want to adopt me? Talk to my tutor!</strong></p>
          <%= link_to 'Adopt', new_adoption_path(animal_id: @animal), class: "btn-sm button pulse know_more_button mt-1" %>
        </div>
    </div>

  </div>

<%# <div id="map" style="width: 100%; height: 500px;"></div> %>
<% if @markers.count.positive? %>
 <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<% end %>
